.calculette{
    position: absolute;
    background-color: rgb(0, 38, 254);
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

#crea{
    display: block;
    height: 52px;
    background-color: rgb(255, 254, 254);
    margin: 8px;
    border-radius: 10px;
    
}

.calculette button{
    height:54px;
    width: 72px;
    background-color: rgb(110, 215, 254);
    margin: 0px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
}

#egal{
    width: 299px;
}

